.notification-container{ 
    max-width:900px; 
    margin-top:30px; 
}
.notif-panel{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:auto;
    gap:16px;
    width:100%;
}
/*Notif header*/
.notif-title{
    font-size:40px;
    font-weight:700;
    margin-left:15px;
}
.notif-title i{
    font-size:40px;
    margin-right:10px;
}
.notif-sub{
    font-size:16px;
    color:black;
    margin-top:-10px;
    margin-left:15px;
}
/*Filter*/
.filter-panel{
    display:flex;
    flex-direction:column;
    gap:10px;
    position: sticky; top: 100px;
}
.filter-buttons{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:6px;
}
.filter-btn{
    background:white;
    border: 1px solid #bbb;
    padding: 4px 16px;
    font-size:14px;
    border-radius:12px;
    width:fit-content;
}
.filter-btn.active{
    background:#E0F2F1;
    font-weight:500;
    border-color:#00897B;
}
.notif-card{ 
    border: 1px solid #999; 
    padding: 6px 14px; 
    border-radius:8px; 
    margin-bottom:10px; 
    margin-left:15px; 
    max-width:400px; }
/*notif card headers*/
.notif-head{
    display:flex;
    align-items:center;
    justify-content:between;
}
.notif-title-text{
    font-weight:600;
    flex:1;
    margin-left:10px;
}
.close-x{
    cursor:pointer;
    font-size:20px;
    text-align:end;
}
.notif-card i{
    margin-left:15px;
}
/*Date*/
.notif-date{
    margin-left:30px;
    font-size:14px;
    margin-top:-8px;
}
/*Action buttons*/
.notif-action{
    display:flex;
    gap:10px;
    margin-top:15px;
    margin-left:15px;
}
.action-btn{
    background:#dcdcdc;
    border:1px solid #999;
    padding:6px 14px;
    border-radius:8px;
}
/*Time stamps*/
.notif-time{
    font-size:14px;
    margin-top:-10px;
    margin-left:15px;
}